<html>
    <head>
        <title>Now Playing</title>
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css">
        <!-- <link rel="stylesheet" href="/sf/styles.css"> -->
    </head>
    <body>
        <main class="container">
            <header>
                <hgroup>
                    <h1>Now Playing</h1>
                    <p>Track and Share what you're listening to</p>
                </hgroup>
            </header>
            <section>
                <h1>Reset Password</h1>
                {{ if .Valid }}
                <form class="container" id="reset" method="POST" action="/api/reset-password" hx-boost="true">
                    <input type="hidden" name="username" value="{{ .Username }}" />
                    <input type="hidden" name="reset" value="{{ .Reset }}" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="password" name="password-confirm" placeholder="Confirm Password" />
                    <button type="submit">Reset Password</button>
                </form>
                {{else}}
                <p>Invalid Reset Link</p>
                <a href="/">Go Back Home and Login</a>
                {{end}}
            </section>
        </main>
    </body>
</html>


