<html>
    <head>
        <title>Now Playing</title>
        <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.cyan.min.css">
        <!-- <link rel="stylesheet" href="/sf/styles.css"> -->
    </head>
    <body>
        <main class="container">
            <header>
                <hgroup>
                    <h1>Now Playing</h1>
                    <p>Track and Share what you're listening to</p>
                </hgroup>
            </header>
            <section>
                <h1>Last Scrobble</h1>
                <div class="last-scrobble" hx-get="/api/last-scrobble" hx-trigger="load, every 10s" hx-swap="innerHTML">
                    <p class="artist"></p>
                    <p class="track"></p>
                    <p class="date"></p>
                </div>
            </section>
        </main>
    </body>
</html>



