{{define "base"}}
<html>
    <head>
        <title>{{ .SiteTitle }}</title>
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css">
    </head>
    <body hx-boost="true">
        <main class="container">
            <nav role="group">
                <ul>
                    <li>
                        <hgroup>
                            <h1>{{ .Title }}</h1>
                            <p>{{ .Subtitle }}</p>
                        </hgroup>
                    </li>
                </ul>
                {{ if .NavLinks }}
                <ul>
                    {{ range .NavLinks }}
                        {{ if .Current }}
                    <li><a href="{{ .Url }}" aria-current="page">{{ .Name }}</a></li>
                        {{ else }}
                    <li><a class="contrast" href="{{ .Url }}">{{ .Name }}</a></li>
                        {{end}}
                    {{end}}
                    <li><a hx-trigger="click" hx-push-url="/" hx-swap="outerHTML" hx-target="body" hx-post="/api/logout" class="contrast">Logout</a></li>
                </ul>
                {{end}}
            </nav>

            <section>
                {{template "content" .}}
            </section>
        </main>

        <script type="text/javascript">
        {{ block "script" .}}{{end}}
        </script>
    </body>
</html>
{{end}}
